absl-py==2.1.0
alembic==1.14.1
axial-positional-embedding==0.3.12
blinker==1.8.2
causal-conv1d==1.4.0
certifi==2022.12.7
cffi==1.17.1
charset-normalizer==2.1.1
click==8.1.7
cloudpickle==3.1.1
cmake==3.25.0
colt5-attention==0.11.1
contourpy==1.1.1
ctcdecode==1.0.3
cupy-cuda11x==12.3.0
cycler==0.12.1
databricks-sdk==0.46.0
dcls==0.1.1
decorator==5.1.1
defusedxml==0.7.1
deprecated==1.2.18
docker==7.1.0
docker-pycreds==0.4.0
dotmap==1.3.30
einops==0.8.0
fastrlock==0.8.2
filelock==3.9.0
flask==3.0.3
fonttools==4.53.1
fsspec==2025.2.0
fvcore==0.1.5.post20221221
geomloss==0.2.6
gitdb==4.0.11
gitpython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==1.0.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.1.1
grpcio==1.62.1
gunicorn==23.0.0
h5py==3.11.0
huggingface-hub==0.28.1
idna==3.4
importlib-metadata==7.1.0
importlib-resources==6.4.4
iopath==0.1.10
itsdangerous==2.2.0
jinja2==3.1.2
jiwer==3.0.3
joblib==1.4.2
kenlm==0.2.0
kiwisolver==1.4.5
lazy-loader==0.4
lit==15.0.7
local-attention==1.10.0
mako==1.3.9
mamba-ssm==2.2.2
markdown==3.6
markupsafe==2.1.3
matplotlib==3.7.5
mlflow==2.17.2
mlflow-skinny==2.17.2
mlp-mixer-pytorch==0.2.0
mne==1.6.0
mpmath==1.3.0
networkx==3.0
ninja==1.11.1.3
numpy==1.24.1
oauthlib==3.2.2
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
packaging==24.1
pandas==2.0.3
patool==1.12
patsy==1.0.1
pillow==10.2.0
platformdirs==4.2.2
pooch==1.8.2
portalocker==3.0.0
product-key-memory==0.2.11
progress==1.6
protobuf==5.26.1
psutil==6.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pyparsing==3.1.4
pysoundfile==0.9.0.post1
python-dateutil==2.9.0.post0
pytz==2024.1
pywavelets==1.4.1
pyyaml==6.0.2
rapidfuzz==3.8.1
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.28.1
requests-oauthlib==2.0.0
rotary-embedding-torch==0.8.4
rsa==4.9
safetensors==0.5.2
scikit-base==0.7.8
scikit-learn==1.3.2
scikit-posthocs==0.8.1
scipy==1.10.1
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.13.0
setproctitle==1.3.3
six==1.16.0
sktime==0.29.1
smmap==5.0.1
sqlalchemy==2.0.39
sqlparse==0.5.3
statsmodels==0.14.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.20.3
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchinfo==1.8.0
torchsummary==1.5.1
torchvision==0.15.1+cu118
tqdm==4.66.2
transformers==4.46.3
triton==2.0.0
typing-extensions==4.8.0
tzdata==2024.1
urllib3==1.26.13
wandb==0.17.9
werkzeug==3.0.2
wrapt==1.17.2
yacs==0.1.8
zipp==3.18.1
